@model List<Comic>
@{
    ViewBag.Title = "Comics Database";
}

<!--
    This is the Home site to view your comics
-->

<!DOCTYPE html>
<html>
 <head>
     <title>Home</title>
 </head>
 <body>
    <h2>Welcome Please Enter Your Comics</h2>

   
    <table class="maintable">
        <thead>
            <tr>
                <th class="Name">Name</th>
                <th class="Company">Company</th>
                <th class="Issue">Issue Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comic in Model)
            {
                <tr>
                    <td>@comic.Name</td>
                    <td>@comic.Company</td>
                    <td>@comic.IssueNo</td>
                    <td>
                        <a asp-controller="Comic" asp-action="Edit"
                            asp-route-id="@comic.ComicId">Edit</a>
                            <a asp-controller="Comic" asp-action="Delete"
                            asp-route-id="@comic.ComicId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        <a asp-controller="Comic" asp-action="Add">Add Comics</a>
</body>
</html>